html, body {
   display: block; 
   overflow: hidden; 
   position: relative;
   min-height: 100vh; 
   margin: 0; 
   padding: 0; 
   background: #0c0c0c url( 'https://images.pexels.com/photos/327256/pexels-photo-327256.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') center bottom no-repeat;
   background-size: cover;
}

canvas {
   display: block; 
   background-color: transparent; 
   margin: 0; 
   padding: 0;
   opacity: 1; 
}
